@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model AlimBio.Models.Salarie

@{
    ViewData["Title"] = "Confiramtion de suppression";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs bg-danger rounded-0">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <h6 class="text-white">Confirmation de suppression</h6>

            </div>
        </div>
    </section><!-- End Breadcrumbs -->

<h5 class="p-2 text-muted m-2">Êtes-vous sûre de bien vouloir supprimé cet enregistrement ?</h5>
<div class="card p-2">
<div class=" col-md-6 m-2 card-body shadow py-4">
    <dl class="row">
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Poste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poste)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Fix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fix)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.CodePostal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodePostal)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ville)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Pays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pays)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Service)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Service.Id)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Entreprise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entreprise.Id)
        </dd>
        <dt  class = "col-sm-2 text-success">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Id)
        </dd>
    </dl>
</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-red" />
        <a class="btn btn-green my-1" asp-action="Index"><i class="fa fa-arrow-left"></i></a>
    </form>
</div>
</main><!-- End #main -->
