@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<AlimBio.Models.Ville>

@{
    ViewData["Title"] = "Index";
}
<main id="main">



    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">


            <div class="d-flex justify-content-between align-items-center">
                <h2>Ville</h2>
                <ol>
                    <li><a href="#">Liste</a></li>
                    <li><a href="#">Villes</a></li>
                </ol>
            </div>


        </div>
    </section><!-- End Breadcrumbs -->
    <div class="section-title pt-3" data-aos="fade-up">
                <h2>Geo <strong>localisation</strong></h2>
                <p> liste des entreprise don't entre entreprise est présente.</p>
            </div>
    <section id="contact" class="contact pt-0">
        <div class="container">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-green my-2" asp-action="Create"> + Nouvelle ville</a>
            }
            <div class="row justify-content-center" data-aos="fade-up">




                @foreach (var item in Model)
                {

                    <div class="col-lg-4">

                        <div class="info-wrap mt-2">
                            <div class="row">
                                <div class="col-lg-12 info my-3">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>@Html.DisplayFor(modelItem => item.NomVille)</h4>
                                    <p> Code Postal : @Html.DisplayFor(modelItem => item.CodePostal)</p>

                                </div>
                                <div>


                                    <a class="btn btn-green" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-eye"></span></a>

                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a class="btn btn-orange" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pen"></span></a>
                                        <a class="btn btn-red" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
