@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model AlimBio.Models.Site

@{
    ViewData["Title"] = "Confiramtion de suppression";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs bg-danger rounded-0">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <h6 class="text-white">Confirmation de suppression</h6>

            </div>
        </div>
    </section><!-- End Breadcrumbs -->

<h5 class="p-2 text-muted m-2">Êtes-vous sûre de bien vouloir supprimé cet enregistrement ?</h5>
<div class="card p-2">
<div class=" col-md-6 m-2 card-body shadow py-4">
    <dl class="row gap-1">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Siret)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Siret)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NomSite)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NomSite)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TypeSite)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.TypeSite)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NombreEmployees)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NombreEmployees)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Capital)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Adresse)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Adresse)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Langitude)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Langitude)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Largitude)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Largitude)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Effectif)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Effectif)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DateCreation)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateCreation)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.SiteWeb)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SiteWeb)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Entreprise)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Entreprise.Id)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Ville)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Ville.Id)
        </dd>
    </dl>

</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-red" />
        <a class="btn btn-green my-1" asp-action="Index"><i class="fa fa-arrow-left"></i></a>
    </form>
</div>
</main><!-- End #main -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <span>@error.ErrorMessage</span>

            <br />
        }
    </div>
}
