@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<AlimBio.Models.Site>

@{
    ViewData["Title"] = "Index";
}



<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Salarié</h2>
                <ol>
                    <li><a href="#">Liste</a></li>
                    <li><a href="#">Salariés</a></li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">

            @if (SignInManager.IsSignedIn(User))
            {
                <a class="btn btn-green my-2" asp-action="Create"> <i class="bi bi-plus"> + nouveau Site </i></a>
            }
            
            <div class="row gy-4">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6">
                        <div class="portfolio-info">
                            <h3>Information - Service </h3>
                            <ul>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.NomSite)     </b> :  @Html.DisplayFor(modelItem => item.NomSite)     </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Siret)       </b> :  @Html.DisplayFor(modelItem => item.Siret)       </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.TypeSite)    </b> :  @Html.DisplayFor(modelItem => item.TypeSite)    </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Email)       </b> :  @Html.DisplayFor(modelItem => item.Email)       </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Tel)         </b> :  @Html.DisplayFor(modelItem => item.Tel)         </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Description) </b> :  @Html.DisplayFor(modelItem => item.Description) </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Capital)     </b> :  @Html.DisplayFor(modelItem => item.Capital)     </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.SiteWeb)     </b> :  @Html.DisplayFor(modelItem => item.SiteWeb)     </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Statut)      </b> :  @Html.DisplayFor(modelItem => item.Statut)      </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Adresse)     </b> :  @Html.DisplayFor(modelItem => item.Adresse)     </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Ville)       </b> :  @Html.DisplayFor(modelItem => item.Ville)       </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.Effectif)    </b> :  @Html.DisplayFor(modelItem => item.Effectif)    </li>
                                <li> <b> @Html.DisplayNameFor(modelItem => item.NombreEmployees) </b> :  @Html.DisplayFor(modelItem => item.NombreEmployees)</li>
                            </ul>
                          
                            <ul>
                                <li>
                                    <a class="btn btn-green" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-eye"></span></a>

                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a class="btn btn-orange" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pen"></span></a>
                                        <a class="btn btn-red" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                    
                }
            </div>
        </div>
    </section><!-- End   Details Section -->

</main><!-- End #main -->

 