@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<AlimBio.Models.Site>

@{
    ViewData["Title"] = "Index";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Sites</h2>
                <ol>
                    <li><a href="">Liste</a></li>
                    <li>Sites</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">


        <div class="container" data-aos="fade-up">
            <a class="btn btn-green my-4" asp-action="Create">+ nouveau site</a>
            <div class="row">

                @foreach (var item in Model)
                {

                    <div class="col-lg-3 col-md-6">
                        <div class="box">
                            <h3>Free</h3>
                            <h4><sup></sup>0<span> / month</span></h4>
                            <ul>

                                <li> @Html.DisplayFor(modelItem => item.NomSite)</li>
                                <li> @Html.DisplayFor(modelItem => item.Siret)</li>
                                <li> @Html.DisplayFor(modelItem => item.TypeSite)</li>
                                <li> @Html.DisplayFor(modelItem => item.Email)</li>
                                <li> @Html.DisplayFor(modelItem => item.Tel)</li>
                                <li> @Html.DisplayFor(modelItem => item.Description)</li>
                                <li> @Html.DisplayFor(modelItem => item.Capital)</li>
                                <li> @Html.DisplayFor(modelItem => item.SiteWeb)</li>
                                <li> @Html.DisplayFor(modelItem => item.Statut)</li>
                                <li> @Html.DisplayFor(modelItem => item.Adresse)</li>
                                <li> @Html.DisplayFor(modelItem => item.Ville)</li>
                                <li> @Html.DisplayFor(modelItem => item.Effectif)</li>
                                <li> @Html.DisplayFor(modelItem => item.NombreEmployees)</li>


                            </ul>
                            <div class="btn-wrap">
                                <a class="btn btn-green" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-eye"></span></a>

                                @* @if (SignInManager.IsSignedIn(User))
                            {*@
                                <a class="btn btn-orange" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pen"></span></a>
                                <a class="btn btn-red" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                                @* }*@
                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>
    </section><!-- End Pricing Section -->
</main>