@model AlimBio.Models.Message

@{
    ViewData["Title"] = "Delete";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs bg-danger rounded-0">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center">
                <h6 class="text-white">Confirmation de suppression</h6>

            </div>
        </div>
    </section><!-- End Breadcrumbs -->

<h5 class="p-2 text-muted m-2">Êtes-vous sûre de bien vouloir supprimé cet enregistrement ?</h5>
<div class="card p-2">
<div class=" col-md-6 m-2 card-body shadow py-4">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sujet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sujet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salarie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salarie.Id)
        </dd>
    </dl>

</div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-red" />
        <a class="btn btn-green my-1" asp-action="Index"><i class="fa fa-arrow-left"></i></a>
    </form>
</div>
</main><!-- End #main -->
