@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

<h1>Utilisateurs</h1>

<p>
    <a asp-action="Create">Créer un nouvel utilisateur</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var utilisateur in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => utilisateur.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => utilisateur.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@utilisateur.Id">Détails</a> |
                    <a asp-action="Edit" asp-route-id="@utilisateur.Id">Modifier</a> |
                    <a asp-action="Delete" asp-route-id="@utilisateur.Id">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
