@model AlimBio.Models.Entreprise

@{
    ViewData["Title"] = "Details";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Entreprise</h2>
                <ol>
                    <li><a href="#">Details</a></li>
                    <li><a href="#">Entreprise</a></li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">



                <div class="col-lg-6">
                    <div class="portfolio-info">
                        <h5 class="text-center text-dark">Information - Entreprise (@Html.DisplayFor(model => model.NomEntreprise)) </h3>

                        <ul class=" ">
                            <li><strong class="pr-2 text-success">Nom de service</strong>   @Html.DisplayFor(model => model.NomEntreprise)</li>

                            <li><strong class="pr-2 text-success">Capital</strong>   @Html.DisplayFor(model => model.Capital)</li>
                            <li><strong class="pr-2 text-success">Effectif </strong>   @Html.DisplayFor(model => model.Effectif)</li>
                            <li><strong class="pr-2 text-success">Entreprise Employeuse</strong>   @Html.DisplayFor(model => model.EntrepriseEmployeuse) </li>
                            <li><strong class="pr-2 text-success">N° TVA</strong>   @Html.DisplayFor(model => model.ImmatriculationTva)</li>
                            <li><strong class="pr-2 text-success">SIREN</strong>   @Html.DisplayFor(model => model.Siren)</li>
                            <li><strong class="pr-2 text-success">Ville</strong>   @Html.DisplayFor(model => model.Ville)</li>
                            <li><strong class="pr-2 text-success">Adresse complete</strong>   @Html.DisplayFor(model => model.AdresseComplet)</li>
                            <li><strong class="pr-2 text-success">Code Postal</strong>   @Html.DisplayFor(model => model.CodePostal)</li>
                            <li><strong class="pr-2 text-success">Date Création </strong>   @Html.DisplayFor(model => model.DateCreation)</li>
                            <li><strong class="pr-2 text-success">Description D'activité'</strong> <p>   @Html.DisplayFor(model => model.DescriptionActivite)</p></li>



                            <li>
                                <a class="btn btn-green" asp-action="Index"><i class="fas fa-arrow-left"></i></a>
                                <a class="btn btn-orange" asp-action="Edit" asp-route-id="@Model?.Id"><i class="fas fa-pen text-white"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="portfolio-description">
                      <h5 class="text-success ">  <i class="fa fa-map"></i>  Géolocalisation de l'entreprise</h5>
                      <p>Retrouvez facilement l'entreprise grace au géolocalisation</p>
                        <p>
                           <div id="map2" class="map"></div>
                        </p>
                    </div>
                </div>

            </div>


        </div>
    </section><!-- End   Details Section -->

    <script>


        const lattitudeInput = @Html.DisplayFor(model => model.Lattitude);
        const longitudeInput = @Html.DisplayFor(model => model.Langitude);

        var map = new mapboxgl.Map({
            accessToken: 'pk.eyJ1IjoieWlsYWs3MjY4MSIsImEiOiJjbGd2OWRxb3kxbGliM2dvMmw0bHcwanZ6In0.PTmeHh2OTeHuGbgGfOS8_w',
            container: 'map2',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [longitudeInput, lattitudeInput],
            zoom: 12
        });

        var marker = new mapboxgl.Marker()
            .setLngLat([longitudeInput, lattitudeInput])
            .addTo(map);


    </script>

</main><!-- End #main -->


