@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<AlimBio.Models.Entreprise>

@{
    ViewData["Title"] = "Liste des entreprises";
}


<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Entreprise</h2>
                <ol>
                    <li><a href="#">Entreprises</a></li>
                    <li><a href="#">Liste des entreprises</a></li>
                </ol>
            </div>
        </div>
    </section><!-- End Breadcrumbs -->

        <div class="section-title py-4" data-aos="fade-up">
                <h2>Holding <strong> des entreprises Alimobio</strong></h2>
                <p>liste des entreprises qui appartiennet au groupe AlimoBio.</p>
            </div>
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container" data-aos="fade-up">

            @if (SignInManager.IsSignedIn(User)){
            <a class="btn btn-green my-2" asp-action="Create"> + nouvelle entreprise </a>
            }
            <div class="row gy-4">
                @foreach( var item in Model)
                {
                    <div class="col-lg-6">
                        <div class="portfolio-info">
                            <h3> @item.NomEntreprise </h3>
                            <ul>
                                <li><strong>Site web : </strong>  @item.SiteWeb</li>
                                <li><strong>N° SIREN :</strong>  @item.Siren</li>

                            </ul>
                            <ul>
                                <li>

                                    <a class="btn btn-green" asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-eye"></span></a>

                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <a class="btn btn-orange" asp-action="Edit" asp-route-id="@item.Id"><span class="fa fa-pen"></span></a>
                                        <a class="btn btn-red" asp-action="Delete" asp-route-id="@item.Id"><span class="fa fa-trash"></span></a>
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="portfolio-description">
                            <h2>Description de l'entreprise</h2>
                            <p>
                                @item.DescriptionActivite
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section><!-- End   Details Section -->

</main><!-- End #main -->
