@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<AlimBio.Models.Service>

@{
    ViewData["Title"] = "Liste des services";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Services</h2>
                <ol>
                    <li><a asp-controller="Home" asp-action="Index">Accueil</a></li>
                    <li>Services</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
   
            <div class="row">

                @foreach (var item in Model)
                {

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch my-3" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box   text-white">
                            <div class="icon" style="border-radius: 50%;color: white!important; background-color: @Html.DisplayFor(modelItem => item.Couleur)">
                               
                                <i class=" fa fa-@Html.DisplayFor(modelItem => item.Icon)"></i>
                            </div>
                            <h4><a asp-controller="Services" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.NomService)</a></h4>
                            <p class="text-black m-2 py-2 text-center">@Html.DisplayFor(modelItem => item.Description)</p>
                            <a asp-controller="Services" asp-action="Details" asp-route-id="@item.Id" class="btn btn-green "><i class="text-white fas fa-eye"></i></a>
                            
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="my-2">

                                    <a asp-controller="Services" asp-action="Create" asp-route-id="@item.Id" class="btn btn-success "><i class="text-white fas fa-add"></i></a>
                                    <a asp-controller="Services" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning  "><i class="text-white fas fa-pen"></i></a>
                                    <a asp-controller="Services" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger  "><i class="text-white fas fa-trash"></i></a>
                                </div>
                            }
                        </div>
                    </div>
                }

            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Features</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <i class="ri-store-line" style="color: #ffbb2c;"></i>
                        <h3><a href="">Lorem Ipsum</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

</main><!-- End #main -->
 

